# =========================
# API Gateway (HTTP)
# =========================
PORT=3000
JWT_SECRET=change_me
JWT_EXPIRES=1d

# TCP to Employee service
EMPLOYEE_MS_HOST=127.0.0.1
EMPLOYEE_MS_PORT=4001

# (Gateway currently still has TypeORM in src/app.module.ts)
# You can keep these for now until gateway DB is removed in the next step.
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=wfh_monolith_db

# =========================
# Employee Service (TCP + DB)
# =========================
MS_HOST=127.0.0.1
MS_PORT=4001

EMPLOYEE_DB_HOST=localhost
EMPLOYEE_DB_PORT=3306
EMPLOYEE_DB_USER=root
EMPLOYEE_DB_PASSWORD=your_password
EMPLOYEE_DB_NAME=wfh_employee_db
# true/false
EMPLOYEE_DB_SYNC=false

# Employee seed (initial data)
EMPLOYEE_SEED_ADMIN_ROLE=ADMIN
EMPLOYEE_SEED_USER_ROLE=USER
EMPLOYEE_SEED_DEPARTMENT=General
EMPLOYEE_SEED_ADMIN_EMAIL=admin@local.test
EMPLOYEE_SEED_ADMIN_PASSWORD=admin123
EMPLOYEE_SEED_FAKE_SEED=20260311
EMPLOYEE_SEED_ADMIN_NAME=Administrator
EMPLOYEE_SEED_ADMIN_EMPLOYEE_CODE=EMP-0001
EMPLOYEE_SEED_ADMIN_POSITION=ADMIN

# =========================
# Attendance Service (TCP + DB) - will be configured next
# =========================
# ATTENDANCE_MS_HOST=127.0.0.1
# ATTENDANCE_MS_PORT=4002
# ATTENDANCE_DB_HOST=localhost
# ATTENDANCE_DB_PORT=3306
# ATTENDANCE_DB_USER=root
# ATTENDANCE_DB_PASSWORD=your_password
# ATTENDANCE_DB_NAME=wfh_attendance_db
# ATTENDANCE_DB_SYNC=false
