# Gateway
PORT=3000
GATEWAY_MINIMAL=true
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=

JWT_SECRET=supersecret
JWT_EXPIRES=1d

# Employee Service (TCP + DB)
EMPLOYEE_MS_HOST=127.0.0.1
EMPLOYEE_MS_PORT=4001
EMPLOYEE_DB_HOST=localhost
EMPLOYEE_DB_PORT=3306
EMPLOYEE_DB_USER=root
EMPLOYEE_DB_PASSWORD=
EMPLOYEE_DB_NAME=

# Attendance Service (TCP + DB)
ATTENDANCE_MS_HOST=127.0.0.1
ATTENDANCE_MS_PORT=4002
ATTENDANCE_DB_HOST=localhost
ATTENDANCE_DB_PORT=3306
ATTENDANCE_DB_USER=root
ATTENDANCE_DB_PASSWORD=
ATTENDANCE_DB_NAME=